<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@300;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Начало работы приложения / Start App-->
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">ToDo List</div>
                <div class="form">
                    <input type="text" v-bind:value="valueInput" v-on:input="handleInput" v-on:keypress.enter="addTask"> <!--Добавляем хук позволяющий заполнять input-->
                    <button class="btn" v-on:click="addTask">Add a new task</button> <!--Вешаем событие на кнопку-->
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>To Do</span>
                <span class="mask-num">{{ needDoList.length }}</span> <!--Добаляем интерполяцию-->
            </h2>
            <ul class="mask-list">
                <li v-for="(mask, index) in needDoList" :key="mask.id"> <!--Добаляем путь и ключ, по которому будут записываться данные-->
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index, 'need')">
                        <span>{{ mask.title }}</span> <!--Добаляем интерполяцию-->
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'need')">Remove</button>
                </li>
            </ul>
            <h2>
                <span>Done</span>
                <span class="mask-num">{{ completeList.length }}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(mask, index) in completeList" :key="mask.id"> <!--Добаляем путь и ключ, по которому будут записываться данные-->
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index, 'complete')" checked>
                        <span>{{ mask.title }}</span> <!--Добаляем интерполяцию-->
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'complete')">Remove</button>
                </li>
            </ul>
        </div>
    </div>
    <!--Конец работы приложения / End App-->

    <script src="https://unpkg.com/vue@next"></script> <!--подключаем vue через ссылку-->
    <script src="app.js"></script>
</body>
</html>